.Placeholder{
    margin-top: 10;
    padding: 5px;
    background-image: linear-gradient(#4ef7fc, #ffff) ;
    border: 2px #5ee2e7 solid;
    border-radius: 0px 0px 15px 15px;;
    text-align: center;
}

.Placeholder div{
    margin-top: 25px;
}

.Placeholder h2{
    margin-bottom: 0px;
    margin-top: -25px;
    color: #5ee2e7;
}

.Placeholder span{
    color: #5ee2e7;
    margin-bottom: 15px;
}